<?xml version="1.0" encoding="UTF-8"?>
<Configuration sstatus="TRACE" monitorInterval="30">
    <properties>
        <property name="LOG_PATTERN">[%d{dd-MM-YYYY hh:mm:ss}] [%t] [%p] [%F - %M - %L]$ %m%n%ex</property>
        <property name="LOG_ROOT_PATH">E:\Logs</property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <RollingFile name="server" fileName="${LOG_ROOT_PATH}/server.log" filePattern="${LOG_ROOT_PATH}/server.log.%i">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="500KB"/>
            </Policies>
            <DefaultRolloverStrategy min="1" max="5"/> <!-- Backup count-->
        </RollingFile>
        <RollingFile name="system" fileName="${LOG_ROOT_PATH}/system.log" filePattern="${LOG_ROOT_PATH}/system.log.%i">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="500KB"/>
            </Policies>
            <DefaultRolloverStrategy min="1" max="5"/> <!-- Backup count-->
        </RollingFile>
    </Appenders>
    <Loggers>
        <AsyncLogger  name="SYSTEM_ERR" level="error" additivity="false">
            <AppenderRef ref="Console" />
            <appender-ref ref="system"/>
        </AsyncLogger>
        <Logger name="SYSTEM_DEBUG" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="server" />
        </Logger>
        <Root level="debug">
            <AppenderRef ref="Console" />
            <AppenderRef ref="server" />
        </Root>
    </Loggers>
</Configuration>