<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" monitorInterval="30">
    <properties>
        <property name="LOG_PATTERN">%d %m%n</property>
        <property name="LOG_ROOT_PATH">/Users/narendran.babu/Eclipse_Workspace</property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <RollingFile name="server" fileName="${LOG_ROOT_PATH}/server.log" filePattern="${LOG_ROOT_PATH}/server.log.%i">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1000KB"/>
            </Policies>
            <DefaultRolloverStrategy min="1" max="5"/> <!-- Backup count-->
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="Spring.Boot.Logging" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="server" />
        </Logger>
        <Root level="debug">
            <AppenderRef ref="Console" />
            <AppenderRef ref="server" />
        </Root>
    </Loggers>
</Configuration>