<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
    <link rel="stylesheet" th:href="@{css/page.css}"/>
</head>
<body>
    <div class="textalign">
    	<h1>Employee Form</h1>
        <form>
            <table>
                <tr>
                    <td>
                        <a th:href="@{'/page/showEmployeePage/'+${CurrentpageNum}+'?sortField=firstName&sortDir='+${sortDirection}}">FirstName</a>
                    </td>
                    <td>
                        <a th:href="@{'/page/showEmployeePage/'+${CurrentpageNum}+'?sortField=lastName&sortDir='+${sortDirection}}">LastName</a>
                    </td>
                    <td>
                        <a th:href="@{'/page/showEmployeePage/'+${CurrentpageNum}+'?sortField=emailId&sortDir='+${sortDirection}}">EmailId</a>
                    </td>
                    <td>
                        <a th:href="@{'/page/showEmployeePage/'+${CurrentpageNum}+'?sortField=phoneNumber&sortDir='+${sortDirection}}">PhoneNumber</a>
                    </td>
                    <td>
                        <a th:href="@{'/page/showEmployeePage/'+${CurrentpageNum}+'?sortField=age&sortDir='+${sortDirection}}">Age</a>
                    </td>
                    <td>
                        <a th:href="@{'/page/showEmployeePage/'+${CurrentpageNum}+'?sortField=salary&sortDir='+${sortDirection}}">Salary</a>
                    </td>
                </tr>
                <tr th:each="emp:${employeeList}">
                    <td><label th:text="${emp.firstName}"></label></td>
                    <td><label th:text="${emp.lastName}"></label></td>
                    <td><label th:text="${emp.emailId}"></label></td>
                    <td><label th:text="${emp.phoneNumber}"></label></td>
                    <td><label th:text="${emp.age}"></label></td>
                    <td><label th:text="${emp.salary}"></label></td>
                </tr>
            </table>
        </form>
        <table>
        	<tr>
        		<td th:each="i: ${ #numbers.sequence(0,totalpage-1) }">
        			<p th:if="${CurrentpageNum-1==i}"  th:text="${i+1}" style="font-size:25px;color:red"></p>
        			
        			<a th:unless="${CurrentpageNum-1==i}" th:href="@{'/page/showEmployeePage/'+${i+1}+'?sortField='+${sortFieldName}+'&sortDir='+${sortDirection}}" 
        			th:text="${i+1}"></a>
        		</td>
        	</tr>
        </table>
        <a th:href="@{http://www.thymeleaf/documentation.html}">Go To ThymeLeaf Docs</a>
    </div>
</body>
</html>