<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Form</title>
    <link rel="stylesheet" th:href="@{css/page.css}"/>
</head>
    <body>
        <div class="textalign">
            <h2>Employee Form</h2>
        </div>
        <form th:action="@{/processform}" th:object="${employee}" method="POST">
            <table>
                <tr>
                    <td>First Name</td>
                    <td><input type="text" th:field="*{firstName}"/></td>
                    <td>
                        <span th:if="${#fields.hasErrors('firstName')}"
                        th:errors="*{firstName}"
                        class="error">
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td><input type="text" th:field="*{lastName}"/></td>
                </tr>
                <tr>
                    <td>Email Id</td>
                    <td><input type="text" th:field="*{emailId}"/></td>
                </tr>
                <tr>
                    <td>Mobile Number</td>
                    <td><input type="text" th:field="*{phoneNumber}"/></td>
                    <td>
                        <span th:if="${#fields.hasErrors('phoneNumber')}"
                        th:errors="*{phoneNumber}"
                        class="error">
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Salary</td>
                    <td><input type="text" th:field="*{salary}"/></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Save"/></td>
                </tr>
            </table>
            <p th:text="${formerrordetail}"></p>
        </form>

    </body>
</html>